// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.pulse {
    animation: pulse 2s ease infinite;
}

@keyframes pulse {
    0%, 100% {
        background-color: #ffff;
    }
    50% {
        background-color: #a0c4fa;
    }
  }
